body {
    font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

* {
    background-position: top center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #05f;
    text-decoration: none;
}

p {
    margin: 26px 0;
}

h2 {
    font-size: 45px;
    font-weight: 900;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    line-height: 26px;
}

@media screen and (max-width: 1366px) {
    p {
        margin: 24px 0;
    }

    body {
        font-size: 16px;
        line-height: 24px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
    }

    h3 {
        font-size: 24px;
        line-height: 26px;
    }
}
