.cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px #072a441a;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    margin-right: 47px;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card .button--small {
    margin-top: 6px;
}

.card p {
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .card {
        margin-right: 22px;
    }
}
