.cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px #072a441a;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    margin-right: 47px;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-content h3:nth-child(n+2) {
    flex-grow: 1;
}

.card .button--small {
    margin-top: 6px;
}

.card p {
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .card {
        margin-right: 22px;
    }
}

@media screen and (max-width: 1023px) {
    .cards {
        box-sizing: border-box;
        justify-content: normal;
        margin-left: 0;
        margin-right: 0;
        max-width: 360px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 15px 0;
        scroll-snap-type: x mandatory;
        width: 100vw;
    }

    .cards:before,
    .cards:after {
        content: '';
        flex: 0 0 auto;
        width: 1px;
    }

    .card {
        flex: 0 0 auto !important;
        margin-right: 50px;
        scroll-margin: 0 15px 0 15px;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        width: calc(100% - 30px);
    }

    .counter {
        counter-reset: total;
        padding-top: 40px;
    }

    .counter > * {
        counter-increment: num;
        position: relative;
    }

    .counter > :before {
        content: "( " counter(num) " / " counter(total) " )";
        font-size: 16px;
        font-weight: 500;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: -40px;
    }

    .card:first-child {
        margin-left: 15px;
    }

    .card:last-child {
        margin-right: 15px;
    }

    .card-content {
        align-items: center;
        text-align: center;
    }
}
