.icons {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}

.icon {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-right: 47px;
}

.icon:first-child {
    margin-left: 0;
}

.icon:last-child {
    margin-right: 0;
}

.icon > a {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    position: relative;
    text-align: center;
    width: 100%;
}

.icon > a > img {
    margin-bottom: 20px;
    position: absolute;
    top: 0;
}
