.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.section-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-buttons {
    display: flex;
}

.section-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    text-align: center;
}

.section-buttons--reverse .section-button {
    flex-direction: column-reverse;
}

/* --- Normal --- */

.section--normal {
    color: #000;
    padding-bottom: 76px;
}

.section-content--normal > p {
    margin-top: 0;
    max-width: 930px;
    width: 100%;
}

/* --- Alternative --- */

.section--alt {
    background-color: #f7f7f7;
    color: #000;
    padding-bottom: 76px;
}

.section-content--alt {
    max-width: 1405px;
}

.section-content--alt > p {
    margin-top: 0;
    width: 100%;
}

.section--alt h3 {
    line-height: 28px;
}

/* --- Fancy --- */

.section--fancy {
    background-color: #1c0517;
    color: #fff;
}

.section--fancy h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 95px;
    margin: 50px 0;
    max-width: 900px;
    text-align: center;
}

.section--fancy .button-text--github {
    background-image: url("../img/Github_Icon-white.svg");
}

/* --- Hero --- */

.section--hero {
    color: #fff;
}

.section--hero h1 {
    font-size: 80px;
    line-height: 95px;
    margin-top: 0;
    text-align: center;
}

.section--hero p {
    font-size: 28px;
    line-height: 33px;
    margin-top: 0;
    text-align: center;
}

.section-content--hero {
    color: #fff;
    margin: 0 0 60px;
    max-width: 940px;
}

@media screen and (max-width: 1366px) {
    .section-content p {
        text-align: center;
    }

    .section--hero h1 {
        font-size: 50px;
        line-height: 66px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    .section--hero p {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    .section-content--hero {
        color: #fff;
        margin: 0 0 36px;
        max-width: 700px;
    }

    .section-content--normal > p {
        max-width: 900px;
    }
}
