@import "fonts/roboto.css";
@import "css/body.css";
@import "css/parallax.css";
@import "css/navigation.css";
@import "css/button.css";
@import "css/card.css";
@import "css/ribbon.css";
@import "css/section.css";
@import "css/cookie_consent.css";
@import "css/announcement.css";
@import "css/aside.css";

@import "css/section/Header.css";
@import "css/section/Footer.css";
@import "css/section/Why.css";
@import "css/section/Technical_Advantages.css";
@import "css/section/Protocol.css";
@import "css/section/Sophia.css";
@import "css/section/Getting_Started.css";
@import "css/section/Developer_Tools.css";
@import "css/section/Useful_Resources.css";
@import "css/section/Interfaces_Clients.css";
@import "css/section/Run_Node.css";
@import "css/section/Miners.css";
@import "css/section/Community.css";
@import "css/section/Metrics.css";
@import "css/section/State_Channels.css";
@import "css/section/Innovative.css";
@import "css/section/Inner_Workings.css";
@import "css/section/Team.css";
