#community {
    padding-bottom: 75px;
    padding-top: 50px;
}

#community h2 {
    font-weight: 700;
}

.community span {
    max-width: 260px;
    min-width: 100px;
    position: absolute;
    width: 100%;
}

#community ul {
    display: flex;
    justify-content: center;
    margin: 49px 30px 65px;
    max-width: 1400px;
    width: 100%;
}

#community ul li {
    box-sizing: border-box;
    display: flex;
    flex-basis: 310px;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
    margin-right: 20px;
}

#community ul li:first-child {
    margin-left: 0;
}

#community ul li:last-child {
    margin-right: 0;
}

#community ul li > a {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 120px;
}

#community ul li > a > img {
    flex-basis: 67px;
    margin-bottom: 20px;
}

#community ul li > a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    #community {
        padding: 30px 20px 50px;
    }

    #community ul {
        margin-left: 0;
        margin-right: 0;
        margin-top: 25px;
    }

    .community span {
        max-width: 230px;
    }

    #community ul li {
        flex-basis: 260px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1023px) {
    #community {
        padding-bottom: 0;
    }

    #community ul {
        flex-wrap: wrap;
        margin: 25px 5px;
    }

    #community ul li {
        flex-basis: 130px;
        font-size: 16px;
        margin: 5px 5px 30px;
    }

    .community span {
        position: static;
    }
}
