#developer_tools {
    padding-top: 30px;
}

#developer_tools h2 {
    margin: 30px 0 30px;
}

#developer_tools .cards > ul > li h3 {
    flex-grow: 0;
    margin-top: 50px;
}

#developer_tools .cards {
    margin-top: 50px;
    max-width: 1580px;
    padding-bottom: 30px;
}

#developer_tools .cards > ul > li {
    flex-basis: 360px;
    padding: 50px 30px 30px 30px;
}

.cards > ul > li h3 {
    flex-grow: 1;
    line-height: 26px;
    margin: 30px 0 24px;
    text-align: center;
}

.cards > ul > li ul {
    text-align: start;
}

@media (max-width: 1366px) {
    #developer_tools .cards {
        margin-bottom: 35px;
    }

    #developer_tools .cards > ul > li {
        padding: 30px 20px;
    }

    #developer_tools .cards > ul > li h3 {
        font-size: 20px;
        margin-top: 30px;
    }

    #developer_tools .cards > ul > li p {
        margin: 0 auto;
        text-align: start;
    }

    #developer_tools .developer_tools-caption {
        max-width: 790px;
    }
}

@media screen and (max-width: 1023px) {
    #developer_tools .cards {
        margin-top: 0;
        max-width: 420px;
    }

    #developer_tools .cards > ul > li {
        padding: 30px 17px;
    }
}
