#footer {
    overflow: hidden;
    padding-bottom: 90px;
    padding-top: 90px;
}

#footer:before {
    top: -30%;
    transform: none;
    transform-origin: top;
}

.subscribe {
    margin-top: 31px;
    max-width: 594px;
    width: 100%;
}

.subscribe button {
    height: 45px;
    margin-top: 30px;
    width: 100%;
}

#footer h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 48px;
    margin: 1.1em 0;
}

#footer h2 + p {
    font-size: 19px;
    letter-spacing: -0.025em;
    line-height: 26px;
    margin-top: 0;
}

.footer-links {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-top: 155px;
    max-width: 1800px;
    padding: 0;
    width: 100%;
}

.footer-icons {
    align-content: space-evenly;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    justify-items: center;
    max-width: 650px;
}

.footer-icon {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-right: 20px;
}

.footer-icon a {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: "SegoeUI", "Segoe UI", sans-serif;
    font-size: 16px;
    letter-spacing: -0.029em;
    text-decoration: none;
}

.footer-logo {
    margin: 0 30px;
}

.footer-icon:last-child,
.footer-icon:last-child a {
    margin-right: 0;
}

.footer-icon img {
    flex-basis: 29px;
    flex-grow: 0;
    margin-right: 33px;
}

@media (max-width: 1366px) {
    #footer h2 {
        font-size: 50px;
    }

    .footer-icon {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 1;
        justify-content: center;
        margin-right: 0;
    }

    .footer-icon img {
        margin-right: 20px;
    }

    .footer-icon:last-child a,
    .footer-icon a {
        margin-right: 20px;
        width: 100%;
    }

    .subscribe {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1023px) {
    #footer {
        padding-top: 35px;
    }

    #footer h2 {
        font-size: 30px;
        line-height: 40px;
    }

    #footer h2 + p {
        font-size: 16px;
        line-height: 26px;
    }

    .footer-links {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 67px;
        padding: 0;
    }

    .footer-logo {
        flex-basis: 100%;
        margin: 0 0 45px;
        order: -1;
    }

    .footer-icons {
        align-items: start;
        flex-direction: column;
        margin: 5%;
        max-width: 120px;
    }

    .footer-icon {
        flex-basis: auto;
        margin-bottom: 20px;
    }

    .footer-icon img {
        margin-right: 30px;
    }

    .footer-icon a {
        margin-right: 0;
    }

    .subscribe {
        margin-top: 15px;
    }

    .subscribe button {
        margin-top: 16px;
    }
}
