#header {
    height: calc(100vh - var(--nav-height));
    padding-bottom: 161px;
    padding-top: 100px;
}

#header:before {
    background-image: url("../../../../../img/Header_Section_Image_Background.jpg");
    background-position: bottom right;
}

#header .buttons {
    width: 100%;
}

#header .buttons a {
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    width: 450px;
}

@media (max-width: 1366px) {
    #header {
        padding-bottom: unset;
    }

    #header .buttons a {
        height: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #header {
        box-sizing: border-box;
        justify-content: center;
        padding-top: 50px;
    }

    #header .buttons a {
        font-size: 16px;
        height: 40px;
        line-height: 16px;
        max-width: 345px;
        width: calc(100% - 30px);
    }
}
