#header {
    height: calc(100vh - 125px);
    padding-bottom: 161px;
    padding-top: 166px;
}

#header:before {
    background-image: url("../../../../../img/Header_Section_Image_Background.jpg");
    background-position: bottom right;
}

#header .section-buttons {
    width: 100%;
}

#header .section-buttons a {
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    width: 450px;
}

@media screen and (max-width: 1366px) {
    #header {
        height: calc(100vh - 70px);
        padding-bottom: 123px;
        padding-top: 100px;
    }

    #header .section-buttons a {
        height: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #header {
        box-sizing: border-box;
        height: calc(100vh - 50px);
        justify-content: center;
        padding-bottom: 123px;
        padding-top: 100px;
    }

    #header .section-buttons a {
        font-size: 16px;
        height: 40px;
        line-height: 16px;
        max-width: 345px;
        width: calc(100% - 30px);
    }
}
