#header {
    height: calc(100vh - 125px);
    padding-bottom: 161px;
    padding-top: 166px;
}

#header:before {
    background-image: url("../../../../../img/Header_Section_Image_Background.jpg");
    background-position: bottom right;
}

@media screen and (max-width: 1366px) {
    #header {
        height: calc(100vh - 70px);
        padding-bottom: 123px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        box-sizing: border-box;
        height: calc(100vh - 50px);
        justify-content: center;
        padding-bottom: 123px;
        padding-top: 100px;
    }
}
