#header {
    height: calc(100vh - var(--nav-height));
    padding: 100px 0 150px;
}

.section--hero::before, .section--fancy::before {
    background-color: #000;
}

#header .buttons {
    width: 90%;
}

#header .buttons ul li {
    margin-bottom: 30px;
}

#header .buttons a {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    transform: translate(0, 0);
    transition: all 0.1s;
    width: 450px;
}

#header .buttons a:before,
#header .buttons a:after {
    border: 3px #f7296e solid;
    content: '';
    display: block;
    position: absolute;
    transform: skewY(-45deg);
    transition: all 0.1s;
    z-index: -1;
}

#header .buttons a:before {
    border-bottom: none;
    border-left-width: 2px;
    border-right: none;
    bottom: -8px;
    left: -12px;
    top: 3px;
    width: 8px;
}

#header .buttons a:after {
    border-bottom-width: 2px;
    border-top-width: 0;
    bottom: -12px;
    height: 9px;
    left: -7px;
    right: 3px;
    transform: skewX(-45deg);
}

#header .buttons a:hover {
    background-color: #fff;
    color: #f7296e;
    transform: translate(4px, -4px);
}

#header .buttons a:hover:after,
#header .buttons a:hover:before {
    background-color: #f7296e;
}

#header .bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

@media (max-width: 1366px) {
    #header .buttons a {
        height: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #header {
        box-sizing: border-box;
        justify-content: center;
        min-height: 460px;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    #header .buttons a {
        font-size: 16px;
        height: 40px;
        line-height: 16px;
        max-width: 345px;
        width: 100%;
    }
}
