#header {
    height: calc(100vh - var(--nav-height));
    padding: 100px 0 150px;
}

.section--hero::before, .section--fancy::before {
    background-color: #000;
}

#header .buttons {
    width: 100%;
}

#header .buttons a {
    background: transparent;
    color: #f7296e;
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    width: 450px;
}

#header .buttons a:hover {
    background: #f7296e;
    color: #fff;
}

#header .bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

@media (max-width: 1366px) {
    #header .buttons a {
        height: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #header {
        box-sizing: border-box;
        justify-content: center;
        min-height: 460px;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    #header .buttons a {
        font-size: 16px;
        height: 40px;
        line-height: 16px;
        max-width: 345px;
        width: calc(100% - 30px);
    }
}
