#inner_workings {
    padding-bottom: 60px;
    padding-top: 30px;
}

#inner_workings p {
    margin-top: 0;
    text-align: center;
}

#inner_workings blockquote {
    font-size: 14px;
}

@media (max-width: 1366px) {
    #inner_workings {
        padding-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    #inner_workings {
        padding: 0 0 60px;
    }
}
