#interfaces {
    padding-bottom: 90px;
    padding-top: 25px;
}

#interfaces .bottom h2 {
    margin-top: 30px;
    text-align: center;
}

#interfaces .bottom > ul {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}

#interfaces .bottom > ul > li {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

#interfaces .bottom > ul > li > a {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#interfaces .bottom > ul:last-of-type > li > a > img {
    border-radius: 100%;
    box-shadow: 0 3px 6px 0 #70707070;
    margin-bottom: 10px;
    width: 64px;
}

#interfaces .bottom p {
    margin: 0 auto;
    max-width: 762px;
    text-align: center;
}

#interfaces .cards {
    margin: 0 0 35px;
}

#interfaces .cards > ul {
    margin-bottom: 30px;
    margin-top: 46px;
}

#interfaces .cards > ul > li {
    align-items: center;
    flex-basis: 360px;
    margin-right: 47px;
    padding: 36px 29px 27px 39px;
    text-align: start;
}

#interfaces .cards > ul > li img {
    height: 100px;
    margin-bottom: 7px;
}

#interfaces .cards > ul > li:before {
    display: none;
}

#interfaces .cards > ul > li > h3 {
    align-items: flex-end;
    display: flex;
    margin: 0;
    text-align: start;
}

#interfaces .cards > ul > li ul {
    margin-top: 6px;
}

#interfaces .cards > ul > li > a:last-of-type {
    align-items: center;
    background: #f7296e;
    border: 2px solid #f7296e;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 25px;
    text-decoration: none;
    transition: all 0.2s;
    width: 165px;
    margin: 26px 0 16px;
}

#interfaces .cards > ul > li > a:last-of-type:hover {
    background: none;
    color: #f7296e;
    text-decoration: none;
}

#interfaces .cards > ul > li li {
    line-height: 35px;
}

@media (max-width: 1366px) {
    #interfaces .cards {
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    #interfaces {
        padding-bottom: 20px;
    }

    #interfaces .cards > ul {
        flex-wrap: wrap;
        justify-content: center;
        margin: 25px 0 15px;
        padding: 0;
        width: calc(100vw - 30px);
    }

    #interfaces .cards > ul:before,
    #interfaces .cards > ul:after {
        content: none;
    }

    #interfaces .cards > ul > li {
        align-items: center;
        margin: 20px 15px !important;
        text-align: center;
    }

    #interfaces .bottom > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 30px;
    }

    #interfaces .bottom > ul > li {
        margin: 15px 30px;
    }

    #interfaces .cards > ul > li > * {
        text-align: center !important;
    }
}
