#interfaces {
    padding-bottom: 90px;
    padding-top: 25px;
}

#interfaces .section-content > ul {
    display: flex;
    margin: 38px 0 30px;
}

#interfaces .section-content > ul > li {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

#interfaces .section-content > ul > li > a {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#interfaces .section-content > p + ul:last-child > li > a > img {
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 #70707070;
    margin-bottom: 10px;
    width: 64px;
}

#interfaces .section-content p {
    margin: 35px 0 0;
    max-width: 762px;
    text-align: center;
}

#interfaces h2 {
    margin-bottom: 0;
}

#interfaces .cards > ul {
    margin-bottom: 30px;
    margin-top: 46px;
}

#interfaces .cards > ul > li {
    align-items: start;
    flex-basis: 360px;
    margin-right: 47px;
    padding: 36px 39px 27px;
}

#interfaces .cards > ul > li:before {
    display: none;
}

#interfaces .cards > ul > li > h3 {
    align-items: flex-end;
    display: flex;
    margin: 0;
    text-align: start;
}

#interfaces .cards > ul > li ul {
    margin-top: 6px;
}

#interfaces .cards > ul > li > a:only-of-type {
    margin: 26px 0 16px;
}

#interfaces .cards > ul > li li {
    line-height: 35px;
}

@media screen and (max-width: 1023px) {
    #interfaces {
        padding-bottom: 45px;
    }

    #interfaces .cards > ul {
        flex-wrap: wrap;
        margin: 25px 0 15px;
        padding: 0;
    }

    #interfaces .cards > ul > li {
        align-items: center;
        margin: 20px 15px !important;
        text-align: center;
    }

    #interfaces .section-content > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 38px 0 30px;
    }

    #interfaces .section-content > ul > li {
        margin: 15px 30px;
    }

    #interfaces .cards > ul > li > * {
        text-align: center !important;
    }

    #interfaces .section-content p {
        margin: 35px 0 0;
    }
}
