#metrics {
    background: transparent;
    padding: 0;
    z-index: 1;
}

.metrics {
    display: flex;
    justify-content: center;
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.metrics li {
    flex-basis: 21vw;
    flex-grow: 0;
    flex-shrink: 0;
    height: 110px;
    margin: 30px 15px;
    max-width: 400px;
    scroll-snap-align: center;
}

.metrics li a {
    align-items: center;
    background: transparent;
    border: 1px solid #dcdcdc27;
    box-sizing: border-box;
    color: #f7f7f7;
    display: grid;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.metrics li a:hover {
    text-decoration: none;
}

.metrics li a:hover:after {
    display: none;
}

.metrics a img {
    align-self: center;
    grid-row: span 2;
    justify-self: end;
    margin-right: 15px;
}

.metrics a div:first-of-type {
    align-self: end;
    color: #f7296e;
    font-size: 30px;
    font-weight: 700;
    grid-column: 2;
    line-height: 30px;;
    white-space: nowrap;
}

.metrics a div:last-of-type {
    align-self: start;
    font-size: 14px;
    font-weight: 500;
    grid-column: 2;
    line-height: 16px;
    padding-top: 5px;
    white-space: nowrap;
}

@media (max-width: 1366px) {
    #metrics > div {
        max-width: 1300px;
    }

    .metrics li {
        flex-basis: 230px;
        height: 90px;
    }

    .metrics a div:first-of-type {
        font-size: 24px;
    }

    .metrics a div:last-of-type {
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .metrics li {
        flex-basis: 210px;
        height: 75px;
    }

    .metrics a div:first-of-type {
        font-size: 24px;
    }

    .metrics a div:last-of-type {
        font-size: 12px;
    }

    .metrics {
        justify-content: start;
    }
}
