#miners {
    padding-bottom: 105px;
    padding-top: 50px;
}

#miners h2 {
    margin-bottom: 0;
}

#miners h2 + p {
    margin-top: 24px;
}

#miners .cards > ul > li {
    flex-basis: 360px;
    padding: 29px 17px 43px;
}
