:root {
    counter-reset: protocol-item-count protocol-total-items-count;
}

#protocol {
    padding: 65px 30px 75px;
}

#protocol .button--large {
    margin-top: 20px;
}

.protocol {
    margin-bottom: 40px;
    margin-top: 50px;
    max-width: 1195px;
    position: relative;
    width: 100%;
}

.protocol-bullets {
    height: 0;
    overflow: hidden;
    position: absolute;
}

.protocol-bullets label {
    border: 6px solid #dcdcdc;
    border-radius: 100%;
    counter-increment: protocol-total-items-count;
    cursor: pointer;
    display: flex;
    float: left;
    height: 0;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -100vw;
    width: 0;
}

.protocol-menu input {
    display: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.protocol-menu {
    position: relative;
}

.protocol-menu-item label {
    border-left: 5px solid #dedede;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: normal;
    height: 100%;
    line-height: 63px;
    outline: none;
    padding-left: 11px;
    text-decoration: none;
}

.protocol-menu :checked + * > label {
    background: linear-gradient(to right, #f7296e5b, #f7296e00 50%, #f7296e00);
    border-left-color: #f7296e;
    color: #f7296e;
    font-weight: 700;
    justify-content: space-between;
    width: 49%;
}

.protocol-menu :checked + * > label:after {
    border-top: 2px solid #f7296e;
    content: '';
    display: block;
    height: 0;
    margin-right: 40px;
    margin-top: 27px;
    width: 35%;
}

.protocol-menu :checked + * > label + .protocol-content {
    display: initial;
}

.protocol-content {
    background: #fff;
    bottom: 0;
    box-shadow: 0 0 13px #0000002b;
    box-sizing: border-box;
    display: none;
    line-height: 30px;
    padding: 142px 45px 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.protocol-content > img:first-child {
    position: absolute;
    top: 45px;
}

.protocol-content h3 {
    color: #f7296e;
    line-height: 60px;
    margin-bottom: 15px;
    margin-top: 0;
}

.protocol-content p {
    margin-bottom: 20px;
    margin-top: 0;
    overflow-wrap: break-word;
    text-align: start;
}

.protocol-content > div {
    height: 400px;
    overflow-y: auto;
}

@media (max-width: 1366px) {
    #protocol {
        padding: 70px 30px 50px;
    }

    .protocol {
        margin-top: 34px;
        max-width: 1134px;
    }

    .protocol-menu-item label {
        font-size: 18px;
        line-height: 55px;
    }

    .protocol-menu :checked + * > label {
        font-size: 20px;
    }

    .protocol-content {
        padding: 108px 38px 10px;
        width: 47%;
    }

    .protocol-content > img:first-child {
        top: 35px;
        width: 60px;
    }

    .protocol-content h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .protocol-content p {
        line-height: 26px;
    }

    .protocol-content > div:after {
        background-image: linear-gradient(to top, #fff, #ffffff00);
        bottom: 50px;
        content: '';
        height: 40px;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 1023px) {
    #protocol {
        padding: 65px 0 65px;
    }

    .protocol {
        margin: 0;
        max-width: 550px;
        scroll-margin: 40px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .protocol-menu {
        animation: fadein 0.1s 0.3s linear backwards;
        height: 530px;
        overflow: hidden;
        position: relative;
        scroll-padding: 0 0 0 1000%;
        width: 100%;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .protocol-menu-item {
        background: #fff;
        height: 100%;
        opacity: 1;
        position: absolute;
        text-align: center;
        transform: translate3d(-100%, 0, 0);
        transition: all 0.3s ease-out;
        width: 100%;
        will-change: transform, opacity;
        z-index: 2;
    }

    .protocol-menu :checked + .protocol-menu-item {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.3s ease-out;
        z-index: 1;
    }

    .protocol-menu :checked + .protocol-menu-item ~ .protocol-menu-item {
        box-shadow: none;
        opacity: 1;
        transform: translate3d(100%, 0, 0);
        transition: all 0.3s ease-out;
    }

    .protocol-menu-item label {
        background: url("../../../../../img/chevron-active.svg") no-repeat center;
        border: 0;
        height: auto;
        opacity: 1;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: -35%;
        text-indent: -100vw;
        top: 60px;
        transition: opacity 0.5s;
        width: 35%;
    }

    .protocol-menu-item label:after {
        content: '';
    }

    .protocol-menu :checked + .protocol-menu-item label {
        display: none;
    }

    .protocol-menu :checked + * + * + .protocol-menu-item label {
        background: url("../../../../../img/chevron-active-right.svg") no-repeat center;
        left: -35%;
        opacity: 1;
    }

    .protocol-content {
        display: initial;
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: 40px 15px 20px;
        padding: 15px;
        width: auto;
    }

    .protocol-content:after {
        content: "( " counter(protocol-item-count) "/" counter(protocol-total-items-count) " )";
        counter-increment: protocol-item-count;
        font-weight: 500;
        margin-left: -50px;
        position: absolute;
        top: -40px;
        width: 100px;
    }

    .protocol-content p {
        line-height: 24px;
    }

    .protocol-content > img:first-child {
        height: 48px;
        position: static;
    }

    .protocol-content h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .protocol-content > div {
        height: 325px;
    }

    .protocol-content > div:after {
        bottom: 0;
    }
}
