#run_node {
    padding-bottom: 90px;
    padding-top: 50px;
}

#run_node .cards > ul > li {
    flex-basis: 320px;
    margin-right: 73px;
    padding: 38px 17px;
}

@media screen and (max-width: 1023px) {
    #run_node {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #run_node .cards {
        padding: 0;
    }

    #run_node .cards > ul:before,
    #run_node .cards > ul:after {
        content: none;
    }

    #run_node .cards > ul > li:before {
        display: none;
    }

    #run_node .cards > ul > li {
        margin: 0 0 30px;
    }

    #run_node .cards > ul {
        flex-wrap: wrap;
        justify-content: center;
        margin: 25px 0 15px;
        padding: 0;
        width: calc(100vw - 30px);
    }
}
