#run_node {
    padding-bottom: 90px;
    padding-top: 50px;
}

#run_node .cards > ul {
    position: relative;
}

#run_node .cards > ul > li {
    flex-basis: 320px;
    margin-right: 73px;
    padding: 38px 17px;
}

@media screen and (max-width: 1366px) {
    #run_node {
        padding-bottom: 50px;
    }
}
