#sophia {
    padding-top: 40px;
}

#sophia .section-content p:last-child {
    margin-bottom: 0;
}

#sophia h2 {
    margin: 40px 0 45px;
}

#sophia .section-buttons > ul > li {
    flex-direction: column-reverse;
}

#sophia .section-content > p {
    font-size: 24px;
    line-height: 28px;
    max-width: 820px;
}

.sophia-content {
    display: flex;
    margin: 90px 0 0;
    max-width: 1480px;
}

#sophia .sophia-text ul {
    line-height: 36px;
}

.sophia-text {
    box-sizing: border-box;
    padding: 0 56px 0 27px;
    width: 50%;
}

.sophia-text h3 {
    line-height: 26px;
    margin: 0;
}

.sophia-text p {
    align-items: flex-start;
    display: inline-flex;
    margin-bottom: 41px;
    text-align: start;
}

.sophia-text p + p {
    margin-top: 0;
}

.sophia-text ul {
    margin-bottom: 35px;
    margin-top: 10px;
}

.sophia-graphic {
    background-image: url('../../../../../img/Path_Sophia.svg');
    background-position: top right;
    margin-top: 13px;
    padding: 0 20px 0 18px;
    width: 100%;
}

.sophia-graphic img {
    margin-top: 52px;
    max-width: 100%;
}

.sophia-content p img {
    flex-shrink: 0;
    margin-right: 18px;
    margin-top: 3px;
}

.sophia-content p small {
    flex-basis: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-left: 7px;
}

.sophia-content p small a {
    font-size: 18px;
    line-height: 36px;
}

@media screen and (max-width: 1023px) {
    #sophia h2 {
        margin: 36px 0;
    }

    #sophia .section-content {
        font-size: 16px;
        font-weight: normal;
    }

    #sophia .section-content > p {
        font-size: 16px;
    }

    .sophia-content {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .sophia-graphic {
        background-image: none;
        margin: 0 auto 50px;
    }

    .sophia-graphic img {
        margin-top: 20px;
    }

    .sophia-text {
        padding: 0;
        text-align: center;
        width: auto;
    }

    .sophia-text p {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .sophia-text p:first-of-type {
        flex-direction: row;
        text-align: start;
    }

    .sophia-content p img {
        margin: 0 15px 0 0;
    }

    .sophia-text h3:first-child {
        font-size: 24px;
    }

    .sophia-content p small {
        font-size: 14px;
        margin: 0 10%;
    }
}
