#state_channels {
    background: #fff;
    padding: 0;
    z-index: 1;
}

#state_channels .bottom {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#state_channels .bottom img {
    width: 100%;
}

#state_channels .bottom blockquote {
    display: block;
    flex-basis: 210px;
    margin-right: -230px;
    margin-top: 150px;
    padding-left: 20px;
}

#state_channels .bottom blockquote h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

#state_channels .bottom blockquote p {
    font-size: 16px;
    line-height: 24px;
}

#state_channels blockquote a {
    color: #f7296e;
}

@media (max-width: 1366px) {
    #state_channels .bottom blockquote {
        margin-right: 0;
        margin-top: 9%;
    }

    #state_channels .bottom blockquote h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1023px) {
    #state_channels .bottom {
        align-items: center;
        flex-basis: auto;
        flex-direction: column;
    }

    #state_channels .bottom blockquote {
        margin-top: 0;
    }

    #state_channels .bottom blockquote p {
        font-size: 14px;
        line-height: 20px;
    }

    #state_channels .bottom blockquote h3 {
    }
}
