#team {
    padding-bottom: 0;
    padding-top: 30px;
}

#team p {
    margin-top: 0;
    max-width: 1200px;
    text-align: center;
}

#team p:last-of-type {
    max-width: none;
}

#team_members {
    z-index: 2;
}

#team_members .section-content h1 {
    color: #f7296e;
    font-size: 50px;
    margin-bottom: 75px;
    text-align: center;
}

#team_members .section-content p {
    text-align: center;
}

.team {
    margin-top: 50px;
    position: relative;
}

.team > h1, .team > h2 {
    flex-grow: 1;
    font-size: 45px;
    line-height: 26px;
    margin: 0 0 75px;
    padding-bottom: 21px;
    text-align: center;
}

.team > ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1170px;
}

.team > ul > li {
    display: flex;
    flex-basis: 220px;
    flex-direction: column;
    margin: 0 30px 100px;
    opacity: 0;
    text-align: center;
    transition: opacity 0.2s linear;
    width: 220px;
}

.team > ul.ordered > li {
    opacity: 1;
}

.team > ul > li:empty {
    flex: 1;
    margin: 0;
}

.team > ul > li > p {
    text-align: center;
}

.team > ul > li p {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

.team > ul > li h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}

.team > ul > li > img,
.team > ul > li > p > img {
    border-radius: 100%;
    cursor: pointer;
    height: 220px;
    margin-bottom: 17px;
    object-fit: cover;
    transition: all 0.2s;
    width: 220px;
}

.team > ul > li:hover img {
    transform: scale(1.05);
}

.team > ul > li.active img {
    filter: contrast(0.95) brightness(0.9) sepia(0.85) saturate(0.85) hue-rotate(290deg);
    transform: scale(1.05);
}

.team > ul > li blockquote {
    background: #fff;
    box-shadow: 1px 1px 6px #00000029;
    display: none;
    flex-flow: wrap;
    margin-top: 240px;
    max-width: 500px;
    padding: 40px 20px 40px 20px;
    position: absolute;
    width: 40vw;
    z-index: 1;
}

/* Triangle shadow */
.team > ul > li.active > :first-child:before {
    border-bottom: solid 15px #fff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    content: "";
    display: inline-block;
    filter: drop-shadow(0 -3px 6px #00000029);
    height: 0;
    margin-left: 94px;
    margin-top: 228px;
    position: absolute;
    width: 0;
}

/* Triangle cutout */
.team > ul > li.active > :first-child:after {
    border-bottom: solid 15px #fff;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: -126px;
    margin-top: 228px;
    position: absolute;
    width: 0;
    z-index: 3;
}

.team > ul > li.active blockquote {
    display: flex;
}

.team > ul > li blockquote h3 {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 0;
    width: 100%;
}

.team > ul > li blockquote strong {
    flex: 0;
    white-space: nowrap;
}

.team > ul > li blockquote h3 em {
    color: #dcdcdc;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
}

.team > ul > li blockquote h3:after {
    content: " ";
    flex: 1 0 auto;
    order: 1;
}

.team > ul > li blockquote a {
    align-items: center;
    background: #828282;
    border-radius: 100%;
    color: #fff;
    display: inline-flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    margin-left: 10px;
    order: 2;
    overflow: hidden;
    width: 20px;
}

.team > ul > li blockquote a:before {
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    display: inline-flex;
    height: 20px;
    position: absolute;
    width: 20px;
}

.team > ul > li blockquote a[href*="facebook.com"]:before {
    background: #fff url("../../../../../img/Team_fb.svg");
}

.team > ul > li blockquote a[href*="linkedin.com"]:before {
    background: #fff url("../../../../../img/Team_in.svg");
}

.team > ul > li blockquote a[href*="github.com"]:before {
    background: #fff url("../../../../../img/Team_github.svg");
}

.team > ul > li blockquote a[href*="medium.com"]:before {
    background: #fff url("../../../../../img/Team_medium.svg");
}

.team > ul > li blockquote a[href*="twitter.com"]:before {
    background: #fff url("../../../../../img/Team_twitter.svg");
}

.team > ul > li blockquote a[href*="youtube.com"]:before {
    background: #fff url("../../../../../img/Team_youtube.svg");
}

.team > ul > li blockquote a[href*="forum.aeternity.com"]:before {
    background: #fff url("../../../../../img/Team_Member.svg");
}

.team > ul > li blockquote h3 em:before {
    border-left: 1px solid #dcdcdc;
    content: "";
    margin-right: 10px;
}

@media screen and (min-width: 1250px) {
    .team {
        max-width: 1170px;
    }

    .team > ul > li.active:nth-of-type(4n) > blockquote {
        right: 20px;
    }

    .team > ul > li.active:last-of-type:not(:first-of-type) > blockquote {
        right: 20px;
    }
}

@media screen and (max-width: 1249px) {
    .team {
        max-width: 860px;
    }

    .team > ul > li.active:nth-of-type(4n) > blockquote {
        right: auto;
    }

    .team > ul > li.active:nth-of-type(3n) > blockquote {
        right: 20px;
    }
}

@media screen and (max-width: 1023px) {
    #team_members .section-content h1 {
        color: #f7296e;
        font-size: 30px;
        margin-bottom: 55px;
        text-align: center;
    }

    .team > h1, .team > h2 {
        font-size: 30px;
        margin-bottom: 75px;
        text-align: center;
    }

    .team {
        max-width: 572px;
    }

    .team > ul > li > blockquote {
        width: auto;
    }

    .team > ul > li h2 {
        font-size: 20px;
    }

    .team > ul > li.active:nth-of-type(3n) > blockquote {
        right: auto;
        width: auto;
    }

    .team > ul > li.active:nth-of-type(2n) > blockquote {
        right: 20px;
    }
}

@media screen and (max-width: 609px) {
    .team {
        max-width: 286px;
        position: static;
    }

    .team > ul > li.active:nth-of-type(2n) > blockquote {
        right: auto;
    }

    .team > ul > li.active > blockquote {
        left: 5vw;
        right: 5vw;
        width: 80vw;
    }
}
