#technical_advantages {
    padding: 50px 0 0;
}

#technical_advantages h2 {
    margin: 50px 0 0;
}

.orbits {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
}

.advantages {
    height: 51vw;
    max-height: 978px;
    max-width: 1780px;
    position: relative;
    width: 100%;
}

.advantage a {
    background: transparent no-repeat top center;
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

.advantage {
    align-items: center;
    background-size: 41.17%;
    color: #fff;
    flex-direction: column;
    font-weight: 700;
    height: 12.35%;
    line-height: 22px;
    max-width: 287px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 6.75%;
}

.advantage a {
    pointer-events: none;
}

.advantage span {
    left: -68%;
    margin-top: 17%;
    position: absolute;
    width: 239%;
}

.advantage:nth-child(1) {
    left: 34.10%;
    top: 11.34%;
}

.advantage:nth-child(2) {
    left: 59.15%;
    top: 12.06%;
}

.advantage:nth-child(3) {
    left: 14.06%;
    top: 30.67%;
}

.advantage:nth-child(4) {
    left: 79.10%;
    top: 27.67%;
}

.advantage:nth-child(5) {
    left: 7%;
    top: 53.27%;
}

.advantage:nth-child(6) {
    left: 87.30%;
    top: 56.27%;
}

.advantage:nth-child(7) {
    left: 24.58%;
    top: 67.65%;
}

.advantage:nth-child(8) {
    left: 65.67%;
    top: 70.65%;
}

.advantage:nth-child(9) {
    left: 46.62%;
    top: 76.78%;
}

#technical_advantages blockquote {
    display: flex;
    margin: 70px 20px 50px;
}

#technical_advantages blockquote a {
    color: #f7296e;
}

@media screen and (max-width: 1366px) {
    #technical_advantages {
        padding-top: 86px;
    }

    #technical_advantages blockquote {
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        margin: 112px 20px 104px;
    }

    .orbits {
        margin-top: 30px;
        padding: 0;
    }

    .advantages {
        background-size: 105%;
        height: 57vw;
        max-height: none;
    }

    .advantage {
        font-weight: 400;
        height: 16%;
        width: 9%;
    }

    .advantage span {
        left: -46%;
        margin-top: 5%;
        position: absolute;
        width: 196%;
    }

    .advantage:nth-child(1) {
        left: 29.3%;
        top: 12.04%;
    }

    .advantage:nth-child(2) {
        left: 60.05%;
        top: 12.66%;
    }

    .advantage:nth-child(3) {
        left: 9.66%;
        top: 29.07%;
    }

    .advantage:nth-child(4) {
        left: 76.6%;
        top: 27.37%;
    }

    .advantage:nth-child(5) {
        left: 5.8%;
        top: 52.77%;
    }

    .advantage:nth-child(6) {
        left: 84.8%;
        top: 57.77%;
    }

    .advantage:nth-child(7) {
        left: 25.48%;
        top: 66.25%;
    }

    .advantage:nth-child(8) {
        left: 67.4%;
        top: 66.65%;
    }

    .advantage:nth-child(9) {
        left: 45.32%;
        top: 77.28%;
    }
}

@media screen and (max-width: 1023px) {
    .advantage a {
        cursor: pointer;
        pointer-events: auto;
    }

    .advantage span {
        background: #fff;
        bottom: 100%;
        color: #f7296e;
        display: none;
        font-size: 14px;
        font-weight: normal;
        left: 0;
        line-height: 20px;
        margin-bottom: 20px;
        min-width: 120px;
        padding: 18px 20px 18px 10px;
        position: absolute;
        text-align: left;
        width: 20vw;
    }

    .advantage span:before {
        border: 12px solid transparent;
        border-top: 15px solid white;
        bottom: -27px;
        content: '';
        display: block;
        height: 0;
        left: 12px;
        position: absolute;
        width: 0;
    }

    .advantage a:active + span,
    .advantage a:focus + span {
        display: block;
    }

    .advantage:nth-child(2n) span {
        left: 100%;
        transform: translateX(-100%);
    }

    .advantage:nth-child(2n) span:before {
        left: auto;
        right: 16px;
    }
}
