#technical_advantages {
    padding: 50px 0 0;
}

#technical_advantages h2 {
    margin: 50px 0 0;
}

#technical_advantages ul {
    background-image: url("../../../../../img/Technical_Advantages_Section_Graphic2.svg");
    background-size: contain;
    height: 51vw;
    max-height: 978px;
    max-width: 1780px;
    position: relative;
    width: 100%;
}

#technical_advantages li {
    align-items: center;
    background-size: 41.17%;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    line-height: 22px;
    max-width: 287px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 16%;
}

#technical_advantages li img {
    margin-bottom: 6%;
    width: 38%;
}

#technical_advantages li:nth-child(1) {
    left: 29.1%;
    top: 11.34%;
}

#technical_advantages li:nth-child(2) {
    left: 54.15%;
    top: 12.06%;
}

#technical_advantages li:nth-child(3) {
    left: 10%;
    top: 30.67%;
}

#technical_advantages li:nth-child(4) {
    left: 70%;
    top: 27.67%;
}

#technical_advantages li:nth-child(5) {
    left: 5%;
    top: 53.27%;
}

#technical_advantages li:nth-child(6) {
    left: 79%;
    top: 56.27%;
}

#technical_advantages li:nth-child(7) {
    left: 21%;
    top: 67.65%;
}

#technical_advantages li:nth-child(8) {
    left: 59%;
    top: 70.65%;
}

#technical_advantages li:nth-child(9) {
    left: 41.62%;
    top: 76.78%;
}

#technical_advantages blockquote {
    display: flex;
    margin: 70px 20px 50px;
}

#technical_advantages blockquote a {
    color: #f7296e;
}

@media (max-width: 1366px) {
    #technical_advantages {
        padding: 60px 20px;
    }

    #technical_advantages h2 {
        margin-top: 0;
    }

    #technical_advantages blockquote {
        align-items: center;
        font-size: 16px;
        line-height: 22px;
        margin: 62px 0 64px;
    }

    #technical_advantages ul {
        background-image: none !important;
        height: auto;
        max-height: none;
        width: auto;
    }

    #technical_advantages li {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-weight: 400;
        justify-content: start;
        left: auto !important;
        margin: 5px 20px;
        max-width: none;
        position: relative;
        text-align: start;
        top: auto !important;
        width: auto;
    }

    #technical_advantages li img {
        align-self: start;
        background: transparent no-repeat top center;
        background-size: contain;
        flex-shrink: 0;
        height: 50px;
        margin-bottom: 0;
        margin-right: 20px;
        width: 50px;
    }
}

@media screen and (max-width: 1023px) {
    #technical_advantages li img {
        height: 30px;
        width: 30px;
    }
}
