#useful {
    padding-top: 25px;
}

#useful .cards {
    margin: 15px 30px;
}

#useful .cards > ul > li {
    display: block;
    flex-basis: 648px;
    margin-right: 65px;
    padding: 35px 45px;
    text-align: justify;
}

#useful .cards > ul > li h3 {
    border-bottom: 2px solid #f7296e;
    margin-top: 0;
    padding-bottom: 21px;
    text-align: start;
}

#useful .cards > ul > li h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 10px;
}

#useful .cards > ul > li h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 10px;
}

#useful .cards > ul > li > p {
    margin-bottom: 1em;
}

#useful .cards > ul > li > ul > li {
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 0;
    text-align: start;
}

#useful .cards > ul > li > ul:first-of-type > li:first-of-type {
    padding-top: 0;
}

#useful .cards > ul > li > ul ul {
    margin-left: 40px;
}

#useful .cards > ul > li blockquote {
    margin-top: 40px;
}

#useful .cards > ul > li > ul ul li {
    line-height: 34px;
}

#useful .cards > ul > li > ul:last-child > li:last-child {
    border: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 1366px) {
    #useful .cards {
        margin: 20px;
    }

    #useful .cards > ul > li {
        flex-basis: 550px;
        font-size: 16px;
        line-height: 26px;
        margin-right: 40px;
        padding: 30px 39px;
    }

    #useful .cards > ul > li h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 26px;
        margin-top: 0;
        width: 100%;
    }

    #useful .cards > ul > li p:last-child {
        margin-bottom: 0;
    }

    #useful .cards > ul > li > p + ul {
        font-size: 14px;
    }

    #useful .cards > ul > li blockquote {
        margin-top: 30px;
    }

    #useful .cards > ul > li h4 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
        margin-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    #useful .cards {
        max-width: 550px !important;
    }

    #useful .cards > ul > li {
        padding: 37px 17px;
        text-align: start;
    }

    #useful .cards > ul > li > ul ul {
        margin-left: 20px;
    }

    #useful .cards > ul > li > ul > li {
        border: 0;
        padding: 10px 0;
    }

    #useful .cards > ul > li > ul ul li {
        line-height: 24px;
    }
}
