#who ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1260px;
}

#who li {
    align-items: center;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
    margin: 10px;
    max-width: 230px;
    text-align: center;
}

#who li a {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 230px;
    text-decoration: none;
}

#who img {
    flex-basis: 180px;
    height: 160px;
    object-fit: contain;
    width: 90%;
}

#who ul + p {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#who input {
    height: 1px;
    opacity: 0;
    width: 1px;
}

#who label {
    align-items: center;
    background: #f7296e;
    border: 2px solid #f7296e;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 25px;
    padding-left: 42px;
    padding-right: 42px;
    text-decoration: none;
    transition: all 0.2s;
}

#who label:hover {
    background: transparent;
    color: #f7296e;
    cursor: pointer;
}

#who .default ul li:nth-child(n + 11) {
    display: none;
}

#who :checked ~ ul li:nth-child(n + 11) {
    display: unset;
}

#who :checked ~ p label {
    background: transparent;
    border: 2px solid #f7296e;
    box-sizing: border-box;
    color: #f7296e;
}

@media (max-width: 1366px) {
    #who li {
        max-width: none;
    }

    #who .default ul li:nth-child(n + 11) {
        display: unset;
    }

    #who .default ul li:nth-child(n + 9) {
        display: none;
    }

    #who :checked ~ ul li:nth-child(n + 9) {
        display: unset;
    }
}

@media screen and (max-width: 1023px) {
    #who li {
        flex-basis: 230px;
        max-width: 230px;
    }

    #who .default ul li:nth-child(n + 9) {
        display: unset;
    }

    #who .default ul li:nth-child(n + 3) {
        display: none;
    }

    #who :checked ~ ul li:nth-child(n + 3) {
        display: unset;
    }
}
