.announcement {
    animation: slideIn 1s forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
    background-color: #f7296e;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-weight: 300;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateY(-100%);
    transition: opacity 1s;
    width: 100%;
    z-index: 1;
}

.announcement > *:not(:empty) {
    margin: 0;
    padding: 0.7em 20px;
    text-align: inherit;
}

.announcement a {
    color: inherit;
}

.announcement li > a > * {
    color: inherit;
    display: none;
}

.announcement .topic-title {
    display: block;
    font-weight: 400;
    line-height: 18px;
}

.announcement a:hover {
    text-decoration: underline;
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen {
    .announcement:not(:empty) {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .announcement a {
        text-decoration: underline;
    }
}
