body {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-snap-type: y proximity;
    width: 100vw;
}

* {
    background-position: top center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #05f;
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}

a:not([href]) {
    color: #ccc;
    cursor: pointer;
    position: relative;
}

a:not([href]):after {
    background: white;
    box-shadow: 0 0 2px 0 #60606090;
    color: #606060;
    content: 'Under development';
    font-size: 14px;
    left: 50%;
    min-width: max-content;
    opacity: 0;
    padding: 3px 15px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-transform: none;
    top: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.1s;
    z-index: 1;
}

a:not([href]):hover:after {
    opacity: 1;
    top: 100%;
}

.icon.outbound {
    display: none;
}

p {
    margin: 26px 0;
    text-align: justify;
    text-overflow: ellipsis;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    line-height: 26px;
}

main {
    box-sizing: border-box;
    height: calc(100vh - 125px);
    overflow-x: hidden;
    position: absolute;
    top: 125px;
    width: 100%;
}

@media screen and (max-width: 1366px) {
    main {
        height: calc(100vh - 70px);
        top: 70px;
    }

    p {
        margin: 24px 0;
    }

    body {
        font-size: 16px;
        line-height: 24px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }
}

@media screen and (max-width: 1023px) {
    main {
        height: calc(100vh - 50px);
        top: 50px;
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
}
