.button {
    align-items: center;
    background: #f7296e;
    border: 2px solid #f7296e;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-family: inherit;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s;
}

.button:hover {
    background: #fff;
    color: #f7296e;
}

.button--small {
    font-size: 16px;
    height: 40px;
    line-height: 25px;
    width: 165px;
}

.button--large {
    font-size: 20px;
    height: 60px;
    line-height: 25px;
    width: 450px;
}

.section--hero .button:hover,
.section--fancy .button:hover {
    background: transparent;
    color: #f7296e;
}

a.button:not([href]) {
    color: #fff;
    opacity: 0.4;
}

a.button:not([href]):hover {
    color: #f7296e;
    opacity: 0.7;
}

.button--normal {
    font-size: 16px;
    height: 40px;
    line-height: 25px;
    width: 350px;
}

.button--wide {
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    line-height: 25px;
    width: 100%;
}

.button-text {
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 40px;
}

.button-text--logo {
    background-image: url("../../../../img/aeternity-logo-small.svg");
    padding-left: 38px;
}

.button-text--github {
    background-image: url("../../../../img/Github_Icon.svg");
    padding-left: 28px;
}

form input {
    background: #fff;
    border: 1px solid #707070;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 10px 20px;
    width: 100%;
}

form input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

@media screen and (max-width: 1366px) {
    .button--large {
        height: 50px;
    }

    .button-text {
        line-height: 35px;
    }
}

@media screen and (max-width: 1023px) {
    form input {
        font-size: 14px;
    }

    .button-text {
        line-height: 45px;
    }

    .button--normal,
    .button--large {
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        line-height: 16px;
        max-width: 345px;
        width: calc(100% - 30px);
    }
}
