.cards {
    display: flex;
    justify-content: center;
    margin: 35px 30px;
    width: 100%;
}

.cards:empty {
    display: none;
}

.cards > ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards > ul > li {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px #072a441a;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin-right: 47px;
    padding: 29px 17px 43px;
    text-align: center;
    width: 100%;
}

.cards > ul > li:first-child {
    margin-left: 0;
}

.cards > ul > li:last-child {
    margin-right: 0 !important;
}

.cards p {
    margin: 0 auto;
}

.cards > ul > li > a:only-of-type {
    align-items: center;
    background: #f7296e;
    border: 2px solid #f7296e;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 25px;
    margin-top: 6px;
    text-decoration: none;
    transition: all 0.2s;
    width: 165px;
}

.cards > ul > li > a:only-of-type:hover {
    background: #fff;
    color: #f7296e;
    text-decoration: none;
}

.cards > ul > li > a:only-of-type:not([href]) {
    color: #fff;
    opacity: 0.4;
}

.cards > ul > li > a:only-of-type:not([href]):hover {
    color: #f7296e;
    opacity: 0.7;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px #072a441a;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    margin-right: 47px;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards > ul > li > img + h3 {
    flex-grow: 1;
}

.card .button--small {
    margin-top: 6px;
}

.card p {
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .cards {
        margin: 35px 0;
    }

    .cards > ul > li,
    .card {
        margin-right: 22px;
    }
}

@media screen and (max-width: 1023px) {
    .cards {
        box-sizing: border-box;
        counter-reset: total;
        justify-content: normal;
        margin-top: 0;
        max-width: 360px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 50px 0 0;
        scroll-snap-type: x mandatory;
        width: 100vw;
    }

    .cards > ul {
        justify-content: start;
    }

    .cards > ul:before,
    .cards > ul:after {
        content: '';
        flex: 0 0 auto;
        width: 1px;
    }

    .cards > ul > li,
    .card {
        flex: 0 0 auto !important;
        margin-right: 50px;
        scroll-margin: 0 15px 0 15px;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        width: calc(100% - 30px);
    }

    .cards > ul > li {
        counter-increment: num;
        position: relative;
    }

    .cards > ul > li:before {
        content: "( " counter(num) " / " counter(total) " )" !important;
        font-size: 16px;
        font-weight: 500;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: -40px;
    }

    .cards > ul > li:first-child,
    .card:first-child {
        margin-left: 15px;
    }

    .cards > ul > li:last-child,
    .card:last-child {
        margin-right: 15px !important;
    }

    .card-content {
        align-items: center;
        text-align: center;
    }
}
