#cookie_consent {
    animation: cookieSlideIn 0.5s forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
    background-color: #311b58;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-weight: 300;
    opacity: 0;
    padding: 0.7em 20px;
    position: fixed;
    text-align: center;
    transform: translateY(100%);
    transition: opacity 1s;
    width: 100%;
    z-index: 1;
}

#cookie_consent a {
    color: #fff;
    text-decoration: underline;
}

#accept_cookies {
    background: #fff;
    border: 1px solid #fff;
    color: #f7296e;
    cursor: pointer;
    font-weight: 700;
    height: 25px;
    margin-left: 20px;
    width: 100px;
}

#deny_cookies {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    height: 25px;
    margin-left: 20px;
    width: 100px;
}

@media screen {
    #cookie_consent {
        display: block;
    }
}

@keyframes cookieSlideIn {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#cookies_policy ul {
    list-style: initial;
    margin: 20px;
}

#cookies_policy table {
    background: #fff;
    border-collapse: separate;
}

#cookies_policy td,
#cookies_policy th {
    padding: 10px;
}

#cookies_policy tr :first-child {
    min-width: 200px;
}

.cookie_choice {
    display: inline-flex;
    justify-content: center;
}
