header {
    background: #fff;
    box-shadow: 0 0 4px 1px #7c7c7c80;
    height: 125px;
    position: sticky;
    width: 100vw;
    z-index: 1;
}

.main-nav {
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    padding: 0 72px;
}

.main-nav.scroll {
    height: 85px;
}

.logo {
    display: flex;
    flex-basis: 266px;
    flex-grow: 0;
}

.logo * {
    align-items: center;
    display: flex;
    height: 100%;
}

.pages {
    display: flex;
    flex-basis: 1100px;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    margin-left: 80px;
}

.nav-items {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #000;
    padding: 5px 7px;
}

.nav-current .nav-link {
    border-bottom: 1px solid #f7296e;
    color: #f7296e;
    font-weight: 700;
}

.lang-switcher {
    display: flex;
    flex-basis: 190px;
    flex-grow: 0;
    justify-content: flex-end;
    margin-left: 50px;
    position: relative;
    visibility: hidden;
}

.lang-menu {
    background: #fff;
    box-shadow: 0 0 3px 0 #60606090;
    display: none;
    padding: 20px;
    position: absolute;
    top: 100%;
}

.lang-current {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.lang-current:after {
    align-items: flex-end;
    background-image: url("../../../public/img/Dropdown_Icon.svg");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    content: '';
    display: inline-flex;
    height: 18px;
    text-transform: none;
    width: 22px;
}

.lang-current {
    align-items: baseline;
    background: none;
    border: 0;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    padding: 0;
    text-align: start;
    text-transform: uppercase;
}

.lang-current:active,
.lang-current:focus {
    outline: 0;
}

.lang-switcher:focus-within .lang-menu {
    color: inherit;
    display: flex;
    flex-direction: column;
}

.lang-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.lang-link:hover {
    color: #f7296e;
}

@media screen and (max-width: 1366px) {
    header {
        height: 70px;
    }

    .main-nav {
        padding: 0 50px;
    }

    .logo {
        flex-basis: 166px;
        flex-grow: 1;
        height: 27px;
    }

    .pages {
        flex-basis: 780px;
        margin-left: 50px;
    }

    .lang-switcher {
        display: flex;
        flex-basis: 56px;
    }
}

@media screen and (max-width: 1023px) {
    header {
        height: 50px;
    }

    .main-nav {
        padding: 0 15px;
    }

    .logo {
        flex-basis: 106px;
        height: 17px;
    }

    .lang-switcher {
        display: none;
    }

    .pages {
        display: none;
    }
}
