:root {
    --nav-height: 80px;
}

.scroll + main,
.scroll {
    --nav-height: 60px;
}

header {
    background: #fff;
    height: var(--nav-height);
    top: 0;
    transition: height 0.2s;
    width: 100vw;
    z-index: 2;
}

.scroll {
    box-shadow: 0 0 4px 1px #7c7c7c80;
}

main {
    top: var(--nav-height);
    transition: top 0.2s;
}

.main-nav {
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    padding: 0 72px;
}

.logo {
    display: flex;
    flex-basis: 266px;
    flex-grow: 0;
    height: calc(var(--nav-height) / 2.4);
    max-height: 38px;
}

.logo * {
    align-items: center;
    display: flex;
    height: 100%;
    max-height: 38px;
}

.pages {
    display: flex;
    flex-basis: 1100px;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    margin-left: 80px;
}

.nav-items {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    justify-content: center;
}

.nav-item a {
    color: #000;
    padding: 5px 7px;
    text-decoration: none;
}

.nav-item a:hover {
    color: #f7296e;
    text-decoration: none;
}

.nav-current a {
    border-bottom: 1px solid #f7296e;
    color: #f7296e;
    font-weight: 700;
}

.pages button {
    align-items: center;
    align-self: stretch;
    background: transparent;
    border: 0;
    display: none;
    justify-items: center;
    justify-self: flex-end;
}

.pages button:before {
    content: '\2261';
    font-size: 34px;
}

.lang-switcher {
    display: none;
    flex-basis: 190px;
    flex-grow: 0;
    justify-content: flex-end;
    margin-left: 50px;
    position: relative;
    visibility: hidden;
}

.lang-menu {
    background: #fff;
    box-shadow: 0 0 3px 0 #60606090;
    display: none;
    padding: 20px;
    position: absolute;
    top: 100%;
}

.lang-current {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

.lang-current:after {
    align-items: flex-end;
    background-image: url("../../../../img/Dropdown_Icon.svg");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    content: '';
    display: inline-flex;
    height: 18px;
    text-transform: none;
    width: 22px;
}

.lang-current {
    align-items: baseline;
    background: none;
    border: 0;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    padding: 0;
    text-align: start;
    text-transform: uppercase;
}

.lang-current:active,
.lang-current:focus {
    outline: 0;
}

.lang-switcher:focus-within .lang-menu {
    color: inherit;
    display: flex;
    flex-direction: column;
}

.lang-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.lang-link:hover {
    color: #f7296e;
}

.nav-items .social {
    align-items: flex-end;
    box-sizing: border-box;
    display: none;
    flex-basis: 100px;
    flex-grow: 0;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 0 20px;
    width: 100%;
}

@media screen and (max-width: 1366px) {
    .scroll + main,
    .scroll,
    :root {
        --nav-height: 60px;
    }

    .main-nav {
        padding: 0 50px;
    }

    .logo {
        flex-basis: 166px;
        flex-grow: 1;
    }

    .pages {
        flex-basis: 780px;
        margin-left: 50px;
    }

    .lang-switcher {
        flex-basis: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .scroll + main,
    .scroll,
    :root {
        --nav-height: 50px;
    }

    .main-nav {
        padding: 0 15px;
    }

    .logo {
        flex-basis: 106px;
        height: 17px;
    }

    .nav-items {
        align-items: stretch;
        background: #fff linear-gradient(to bottom, #0000002b, #ffffff00 4px);
        border: 1px solid #f5f5f5;
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        height: calc(100% - var(--nav-height));
        justify-content: start;
        padding: 20px 15px 10px;
        position: fixed;
        right: 0;
        top: 50px;
        width: 100%;
    }

    .nav-item {
        flex-basis: 50px;
        flex-grow: 0;
        justify-content: start;
    }

    .nav-item a {
        margin-left: 20px;
        padding: 0 10px 5px 0;
    }

    .nav-items .social {
        display: flex;
        justify-content: center;
    }

    .nav-items .social a {
        flex-basis: 50px;
    }

    .active .nav-items {
        display: flex;
    }

    .active .pages button:before {
        content: '\2716';
        font-size: 26px;
    }

    .pages {
        justify-content: flex-end;
    }

    .pages button {
        display: flex;
    }
}

@media screen {
    header {
        position: fixed;
    }
}
