@supports (perspective: 2px) and (transform: translateZ(-1px)) and (transform: scale(1.5)) {
    @media screen {
        body {
            overflow-y: hidden;
        }

        main {
            height: calc(100vh - var(--nav-height));
            overflow-y: overlay;
            perspective: 2px;
            transform-style: preserve-3d;
            top: var(--nav-height);
        }

        .scroll + main {
            height: calc(100vh - 85px);
            top: 85px;
        }

        .section::before {
            transform: translateZ(-1px) scale(1.5);
            -moz-transform: translateX(-4px) translateZ(-1px) scale(1.5);
            transform-origin: center;
        }

        .content__default,
        .section--hero,
        .section--fancy {
            transform-style: preserve-3d;
        }

        @media screen and (max-width: 1366px) {
            .scroll + main {
                height: calc(100vh - var(--nav-height));
                top: var(--nav-height);
            }
        }

        @media screen and (max-width: 1023px) {
            body {
                overflow-y: overlay;
            }

            main {
                overflow-y: hidden;
                perspective: none;
                transform-style: initial;
                height: auto !important;
                position: relative;
                top: 0 !important;
            }

            .section::before {
                transform: none;
                -moz-transform: none;
            }

            .content__default,
            .section--hero,
            .section--fancy {
                transform-style: initial;
            }
        }
    }
}

