.particles {
    background: #fff;
    box-sizing: border-box;
    height: 120px;
    padding: 20px 0;
    width: 100%;
}

.particles-alt {
    background: #f7f7f7;
    box-sizing: border-box;
    height: 120px;
    padding: 20px 0;
    width: 100%;
}

.particles-full {
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
