.section {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.section::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.section--hero::before,
.section--fancy::before {
    display: initial;
}

.section h2 {
    font-weight: 900;
}

.section-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-buttons > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-width: 450px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.section-buttons > div:first-child {
    margin-left: 0;
}

.section-buttons > div:last-child {
    margin-right: 0;
}

/* --- Normal --- */

.section--normal {
    background: #fff;
    color: #000;
    padding-bottom: 76px;
    z-index: 1;
}

.section--normal .section-content > p {
    margin-top: 0;
    max-width: 930px;
    width: 100%;
}

/* --- Alternative --- */

.section--alt {
    background-color: #f7f7f7;
    color: #000;
    padding-bottom: 76px;
    z-index: 1;
}

.section--alt h3 {
    line-height: 28px;
}

.section--alt .section-content {
    max-width: 1405px;
}

.section--alt .section-content > p {
    margin-top: 0;
    width: 100%;
}

/* --- Fancy --- */

.section--fancy {
    color: #fff;
}

.section--fancy::before {
    background-image: url("../../../../img/section-back-alt.jpg");
}

.section--fancy h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 95px;
    margin: 50px 0;
    max-width: 900px;
    text-align: center;
}

.section--fancy .button-text--github {
    background-image: url("../../../../img/Github_Icon-white.svg");
}

/* --- Hero --- */

.section--hero {
    color: #fff;
    height: 100%;
}

.section--hero h1 {
    font-size: 80px;
    line-height: 95px;
    margin-top: 0;
    text-align: center;
}

.section--hero p {
    font-size: 28px;
    line-height: 33px;
    margin-top: 0;
    text-align: center;
}

.section--hero .section-content {
    color: #fff;
    margin: 0 0 60px;
    max-width: 940px;
}

@media screen and (max-width: 1366px) {
    .section {
        padding-bottom: 50px;
    }

    .section-content p {
        text-align: center;
    }

    .section--hero h1 {
        font-size: 50px;
        line-height: 66px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    .section--hero p {
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    .section--hero .section-content {
        margin: 0 0 36px;
        max-width: 700px;
    }

    .section-normal .section-content > p {
        max-width: 780px;
    }

    .section--fancy h2 {
        font-size: 30px;
        line-height: 40px;
        max-width: 460px;
    }

    .section-buttons > div {
        margin-right: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .section {
        padding-left: 0;
        padding-right: 0;
    }

    .section--hero h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 23px;
        text-transform: none;
    }

    .section--hero p {
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
    }

    .section-content {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section--hero .section-content {
        color: #fff;
        margin: 0 0 36px;
        max-width: 700px;
    }

    .section--normal .section-content > p {
        max-width: 780px;
    }

    .section--fancy h2 {
        font-size: 30px;
        line-height: 40px;
        max-width: 460px;
    }

    .section-buttons {
        align-items: center;
        flex-direction: column;
    }

    .section-buttons > div {
        margin-bottom: 15px;
        margin-right: 0;
        max-width: 345px;
        width: calc(100% - 30px);
    }
}
