#community {
    padding-bottom: 75px;
    padding-top: 50px;
}

#community h2 {
    font-weight: 700;
    margin-bottom: 0;
}

.communities {
    margin-bottom: 65px;
    margin-top: 49px;
    max-width: 1400px;
}

.community {
    flex-basis: 310px;
    margin-right: 20px;
}

.community span {
    max-width: 260px;
    min-width: 100px;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 1366px) {
    #community {
        padding: 30px 20px 50px;
    }

    .communities {
        margin-top: 75px;
    }

    .community span {
        max-width: 230px;
    }

    .community {
        flex-basis: 260px;
    }
}

@media screen and (max-width: 1023px) {
    #community {
        padding-bottom: 0;
    }

    .communities {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .community {
        margin: 5px 5px 30px;
    }

    .community span {
        position: static;
    }
}
