#developer_tools h2 {
    margin: 60px 0 30px;
}

.developer_tools-caption {
    margin-top: 0;
}

.apis {
    margin-bottom: 93px;
    margin-top: 70px;
    max-width: 1580px;
}

.api {
    flex-basis: 360px;
    justify-content: center;
    padding: 35px;
}

.api h3 {
    line-height: 48px;
    margin: 50px 0 24px;
    text-align: center;
}

.api ul {
    text-align: start;
}

@media screen and (max-width: 1366px) {
    .apis {
        margin-top: 48px;
    }

    .api h3 {
        font-size: 20px;
        margin-top: 24px;
    }

    .api {
        padding: 30px 10px;
    }

    .api p {
        margin: 0 auto;
    }

    #developer_tools .developer_tools-caption {
        max-width: 790px;
    }
}

@media screen and (max-width: 1023px) {
    .apis {
        margin-top: 0;
        max-width: 360px;
    }

    .api {
        padding: 30px 17px;
    }
}
