#developer_tools {
    padding-top: 30px;
}

#developer_tools h2 {
    margin: 30px 0 30px;
}

.developer_tools-caption {
    margin-top: 0;
}

.apis {
    margin-top: 50px;
    max-width: 1580px;
    padding-bottom: 30px;
}

.api {
    flex-basis: 360px;
    justify-content: center;
    padding: 35px;
}

.api .card-content h3 {
    flex-grow: 0;
    line-height: 48px;
    margin: 50px 0 24px;
    text-align: center;
}

.api .card-content ul {
    text-align: start;
}

@media screen and (max-width: 1366px) {
    .api {
        padding: 30px 10px;
    }

    .api .card-content h3 {
        font-size: 20px;
        margin-top: 24px;
    }

    .api .card-content p {
        margin: 0 auto;
    }

    #developer_tools .developer_tools-caption {
        max-width: 790px;
    }
}

@media screen and (max-width: 1023px) {
    .apis {
        margin-top: 0;
        max-width: 360px;
    }

    .api {
        padding: 30px 17px;
    }
}
