#footer {
    padding-top: 90px;
}

#footer:before {
    background-image: url("../../img/Footer_background.jpg");
    transform: none;
}

.subscribe {
    margin-top: 31px;
    max-width: 594px;
    width: 100%;
}

.subscribe .button {
    margin-top: 30px;
}

#footer h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 48px;
    margin: 1.1em 0;
}

#footer h2 + p {
    font-size: 19px;
    letter-spacing: -0.025em;
    line-height: 26px;
    margin-top: 0;
}

.footer-links {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 87px;
    margin-top: 155px;
    max-width: 1800px;
    padding: 0;
    width: 100%;
}

.footer-icons {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 567px;
}

.footer-icon {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.footer-icon a {
    align-items: center;
    color: #fff;
    display: flex;
    flex-basis: 100%;
    font-family: SegoeUI, Segoe UI, serif;
    font-size: 16px;
    justify-content: center;
    letter-spacing: -0.029em;
}

.footer-logo {
    margin: 0 30px;
}

.footer-icon:last-child a {
    margin-right: 0;
}

.footer-icon img {
    margin-right: 43px;
}

@media screen and (max-width: 1366px) {
    #footer h2 {
        font-size: 50px;
    }

    .footer-icons {
        max-width: 420px;
    }

    .footer-icon img {
        margin-right: 20px;
    }

    .footer-icon a {
        margin-right: 50px;
    }

    .subscribe {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1023px) {
    #footer {
        padding-top: 35px;
    }

    #footer h2 {
        font-size: 30px;
        line-height: 40px;
    }

    #footer h2 + p {
        font-size: 16px;
        line-height: 26px;
    }

    .footer-links {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 67px;
        padding: 0;
    }

    .footer-logo {
        flex-basis: 100%;
        margin: 0 0 45px;
        order: -1;
    }

    .footer-icons {
        align-items: start;
        flex-direction: column;
        margin: 5%;
        max-width: 120px;
    }

    .footer-icon {
        margin-bottom: 20px;
    }

    .footer-icon img {
        margin-right: 30px;
    }

    .footer-icon a {
        margin-right: 0;
    }

    .subscribe {
        margin-top: 15px;
    }

    .subscribe .button {
        margin-top: 16px;
    }
}
