#footer {
    background: url("../../img/Footer_background.jpg") no-repeat center;
    background-size: cover;
    padding-top: 90px;
}

.subscribe {
    margin-top: 31px;
    max-width: 594px;
    width: 100%;
}

.subscribe .button {
    margin-top: 30px;
}

#footer h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 48px;
    margin: 1.1em 0;
}

#footer h2 + p {
    font-size: 19px;
    letter-spacing: -0.025em;
    line-height: 26px;
    margin-top: 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
    margin-top: 155px;
    max-width: 1800px;
    padding: 0 72px;
    width: 100%;
}

.footer-icons {
    align-items: center;
    display: flex;
}

.footer-icon a {
    align-items: center;
    color: #fff;
    display: flex;
    flex-basis: 100%;
    font-family: SegoeUI, Segoe UI, serif;
    font-size: 16px;
    letter-spacing: -0.029em;
    margin-right: 60px;
}

.footer-icon img {
    margin-right: 43px;
}
