#header {
    background-color: #593d4e;
    background-image: url("../../img/Header_Section_Image_Background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}
