#header {
    background-color: #593d4e;
    background-image: url("../../img/Header_Section_Image_Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 161px;
    padding-top: 166px;
}

@media screen and (max-width: 1366px) {
    #header {
        padding-bottom: 123px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 1366px) {
    #header {
        box-sizing: border-box;
        height: calc(100vh - 50px);
        justify-content: center;
        padding-bottom: 123px;
        padding-top: 100px;
    }
}
