#miners {
    padding-bottom: 105px;
    padding-top: 69px;
}

#miners h2 {
    margin-bottom: 0;
}

#miners h2 + p {
    margin-top: 24px;
}

.miners {
    margin: 42px 30px 0;
    position: relative;
}

.miner {
    flex-basis: 360px;
    padding: 29px 17px 43px;
}

.miner .card-content {
    align-items: center;
    text-align: center;
}

.miner h3 {
    flex-basis: 100%;
}
