#run_node {
    padding-bottom: 90px;
    padding-top: 50px;
}

.howtos {
    margin: 35px 30px 0;
    padding-bottom: 99px;
    position: relative;
}

.howto {
    flex-basis: 320px;
    margin-right: 73px;
    padding: 38px 17px;
}

.howto .card-content {
    align-items: center;
    text-align: center;
}

.howto .button {
    bottom: 25px;
    position: absolute;
}

@media screen and (max-width: 1023px) {
}
