#run_node {
    padding-bottom: 90px;
    padding-top: 50px;
}

.howtos {
    position: relative;
}

.howto {
    flex-basis: 320px;
    margin-right: 73px;
    padding: 38px 17px;
}

.howto .card-content {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1366px) {
    #run_node {
        padding-bottom: 50px;
    }
}
