#sophia {
    padding-top: 35px;
}

.sophia-caption {
    font-size: 24px;
    line-height: 28px;
    max-width: 820px;
}

.sophia-content {
    display: flex;
    margin: 55px 0 40px;
    max-width: 1480px;
}

.sophia-links {
    font-size: 18px;
    line-height: 36px;
}

.sophia-content p {
    display: flex;
}

.sophia-text {
    box-sizing: border-box;
    padding: 0 60px 0 30px;
    width: 50%;
}

.sophia-text h3 {
    display: inline-flex;
    margin-bottom: 0;
}

.sophia-text p {
    align-items: flex-start;
    display: inline-flex;
}

.sophia-graphic {
    background-image: url('../../img/Path_Sophia.svg');
    background-position: top right;
    margin-top: 36px;
    padding: 0 35px 0 15px;
    width: 50%;
}

.sophia-graphic img {
    margin-top: 50px;
}

.sophia-content p img {
    margin-right: 18px;
    margin-top: 8px;
}

.sophia-content p small {
    font-size: 16px;
    line-height: 20px;
    margin-left: 7px;
}

.sophia-content p small a {
    font-size: 18px;
    line-height: 36px;
}
