#technical_advantages {
    background-image: url("../../img/section-back.jpg");
    background-size: cover;
    padding-top: 50px;
}

#technical_advantages h2 {
    margin: 0;
}

.orbits {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.advantages {
    background-image: url("../../img/Technical_Advantages_Section_Graphic.svg");
    background-size: contain;
    height: 51vw;
    max-height: 978px;
    max-width: 1780px;
    position: relative;
    width: 100%;
}

.advantage a {
    background: transparent no-repeat top center;
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}

.advantage {
    align-items: center;
    background-size: 41.17%;
    color: #fff;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    height: 12.35%;
    line-height: 22px;
    max-width: 287px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 6.75%;
}

.advantage a {
    pointer-events: none;
}

.advantage span {
    left: -54%;
    margin-top: 17%;
    position: absolute;
    width: 220%;
}

.advantage:nth-child(1) a {
    background-image: url("../../img/No_Scaling_Icon.svg");
}

.advantage:nth-child(2) a {
    background-image: url("../../img/Security_icon.svg");
}

.advantage:nth-child(3) a {
    background-image: url("../../img/Confirmation_Time_icon.svg");
}

.advantage:nth-child(4) a {
    background-image: url("../../img/Low_fees_Icon.svg");
}

.advantage:nth-child(5) a {
    background-image: url("../../img/No_fees_Icon.svg");
}

.advantage:nth-child(6) a {
    background-image: url("../../img/Naming_System_icon.svg");
}

.advantage:nth-child(7) a {
    background-image: url("../../img/Private_Transaction_icon.svg");
}

.advantage:nth-child(8) a {
    background-image: url("../../img/Build_in_Oracles_icon.svg");
}

.advantage:nth-child(9) a {
    background-image: url("../../img/Highly_Flexible_Icon.svg");
}

.advantage:nth-child(1) {
    left: 34.10%;
    top: 11.34%;
}

.advantage:nth-child(2) {
    left: 59.15%;
    top: 12.06%;
}

.advantage:nth-child(3) {
    left: 16.06%;
    top: 30.67%;
}

.advantage:nth-child(4) {
    left: 79.10%;
    top: 30.67%;
}

.advantage:nth-child(5) {
    left: 13%;
    top: 53.27%;
}

.advantage:nth-child(6) {
    left: 87.30%;
    top: 53.27%;
}

.advantage:nth-child(7) {
    left: 27.58%;
    top: 70.65%;
}

.advantage:nth-child(8) {
    left: 65.67%;
    top: 70.65%;
}

.advantage:nth-child(9) {
    left: 46.62%;
    top: 76.78%;
}


@media screen and (max-width: 1023px) {
    .advantage a {
        cursor: pointer;
        pointer-events: auto;
    }

    .advantage span {
        background: #fff;
        bottom: 100%;
        color: #f7296e;
        display: none;
        font-size: 14px;
        font-weight: normal;
        left: 50%;
        line-height: 20px;
        margin-bottom: 20px;
        margin-left: -25px;
        min-width: 120px;
        padding: 18px 20px 18px 10px;
        position: absolute;
        text-align: left;
        width: 20vw;
    }

    .advantage span:before {
        border: 12px solid transparent;
        border-top: 15px solid white;
        bottom: -27px;
        content: '';
        display: block;
        height: 0;
        left: 12px;
        position: absolute;
        width: 0;
    }

    .advantage a:focus + span {
        display: block;
    }

    .advantage a:focus + span:before {
        display: block;
    }

    .advantage:nth-child(1) a:focus {
        background-image: url("../../img/No_Scaling_Icon-alt.svg");
    }

    .advantage:nth-child(2) a:focus {
        background-image: url("../../img/Security_icon-alt.svg");
    }

    .advantage:nth-child(3) a:focus {
        background-image: url("../../img/Confirmation_Time_icon-alt.svg");
    }

    .advantage:nth-child(4) a:focus {
        background-image: url("../../img/Low_fees_Icon-alt.svg");
    }

    .advantage:nth-child(5) a:focus {
        background-image: url("../../img/No_fees_Icon-alt.svg");
    }

    .advantage:nth-child(6) a:focus {
        background-image: url("../../img/Naming_System_icon-alt.svg");
    }

    .advantage:nth-child(7) a:focus {
        background-image: url("../../img/Private_Transaction_icon-alt.svg");
    }

    .advantage:nth-child(8) a:focus {
        background-image: url("../../img/Build_in_Oracles_icon-alt.svg");
    }

    .advantage:nth-child(9) a:focus {
        background-image: url("../../img/Highly_Flexible_Icon-alt.svg");
    }
}

.advantages-footer {
    align-items: center;
    display: flex;
    margin: 70px 20px 50px;
}

.advantages-footer img {
    margin-right: 7px;
    vertical-align: middle;
}

.advantages-footer a {
    color: #f7296e;
}
