#useful {
    padding-top: 25px;
}

.resources {
    margin: 15px 30px;
}

.resource {
    flex-basis: 648px;
    margin-right: 65px;
    padding: 35px 45px 0;
}

.resource h3 {
    border-bottom: 2px solid #f7296e;
    padding-bottom: 21px;
}

.resource h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 10px;
}

.resource h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 10px;
}

.resource .card-content > p + ul {
    margin-top: 13px;
}

.resource .card-content > ul > li {
    border-bottom: 1px solid #dcdcdc;
    padding: 19px 0;
}

.resource .card-content > h3 + ul > li {
    padding-top: 10px;
}

.resource .faucet {
    background-image: url('../../img/Faucet.svg');
    background-position: top left;
    background-size: contain;
    box-sizing: border-box;
    display: inline-block;
    height: 3.5em;
    margin-top: 20px;
    max-height: 62px;
    padding-left: 4.5em;
    padding-top: 0.5em;
    vertical-align: middle;
}

.resource .card-content > ul ul {
    margin-left: 40px;
}

.resource .card-content > ul ul li {
    line-height: 34px;
}

.resource .card-content > ul:last-child > li:last-child {
    border: 0;
}

@media screen and (max-width: 1366px) {
    .resource .card-content > p + ul {
        font-size: 14px;
        margin: 30px 0;
    }

    .resources {
        margin: 50px 30px;
    }

    .resource {
        flex-basis: 550px;
        margin-right: 40px;
        padding: 30px 39px 0;
    }

    .resource h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 26px;
        margin-top: 0;
    }

    .resource p {
        font-size: 16px;
        line-height: 26px;
    }

    .resource h4 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
        margin-top: 0;
    }

    .resource h4:first-child {
        margin-top: 0;
    }

    .resource .card-content > h3 + ul > li {
        margin-bottom: 20px;
        padding-top: 0;
    }

    .resource .card-content > ul > li {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1023px) {
    .resources {
        max-width: 100vw;
    }
}
